<header>
    <form action="{% url "core:search" %}">
        <select name="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <button>SEARCH</button>
    </form>
    <ul>
        <li>
            <a href="{% url "core:home" %}">HOME</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url "users:profile" user.pk %}">PROFILE</a>
        </li>
        <li>
            <a href="{% url "users:logout" %}">LOGOUT</a>
        </li>
        {% else %}
        <li>
            <a href="{% url "users:login" %}">LOGIN</a>
        </li>
        <li>
            <a href="{% url "users:signup" %}">SIGNUP</a>
        </li>
        {% endif %}
    </ul>
</header>