{% extends "base.html" %} 

{% block page_title %} HOME {% endblock page_title %}

{% block content %}
<div>
  <div>
	<h2>Movies <a href="{% url 'movies:movie_create' %}">[create]</a></h2>
	{% for movie in movies %}
		{% include "mixins/movie.html" with movie=movie %}
	{% endfor %}
	<a href="{% url 'movies:movies' %}">See all movies &rarr;</a>
	<hr />
</div>

<div>
	<h2>Books <a href="{% url 'books:book_create' %}">[create]</a></h2>
	{% for book in books %}
		{% include "mixins/book.html" with book=book %}
	{% endfor %}
	<a href="{% url 'books:books' %}">See all books &rarr;</a>
	<hr />
</div>

<div>
	<h2>People <a href="{% url 'people:people_create' %}">[create]</a></h2>
	{% for person in people %}
		{% include "mixins/person.html" with person=person %}
	{% endfor %}
	<a href="{% url 'people:people' %}">See all people &rarr;</a>
	<hr />
	<div>
{% endblock content %}