{% include "base.html" %}

{% block content %}

<a href="">UPDATE PROFILE</a> / <a href="{% url 'users:password' %}"> CHANGE PASSWORD</a>

<p>username: {{ user.username }}</p>
<p>email: {{ user.email }}</p>
<p>bio: {{ user.bio }}</p>
<p>preference: {{ user.preference }}</p>
<p>language: {{ user.language }}</p>

<p>
favoirte book category :
{% for category in user.fav_boo_cat.all %}
    {{ category }}
{% endfor %}
</p>

<p>
favoirte movie category :
{% for category in user.fav_movie_cat.all %}
    {{ category }}
{% endfor %}
</p>

{% endblock content %}