{% include "base.html" %}

{% block page_title %} PROFILE {% endblock page_title %}

{% block content %}
    <a href="{% url 'users:update' user.pk %}">UPDATE PROFILE</a> / 
    <a href="{% url 'users:password' %}"> CHANGE PASSWORD</a>
    <p>username: {{ user.username }}</p>
    <p>email: {{ user.email }}</p>
    <p>bio: {{ user.bio }}</p>
    <p>preference: {{ user.preference }}</p>
    <p>language: {{ user.language }}</p>
    <p>favoirte book category : {{ user.fav_book_cat }}</p>
    <p>favoirte movie category : {{ user.fav_movie_cat }}</p>
{% endblock content %}